<div class="container">
<!--  <div class="row">
    <div class="col-xl-8">
    </div>
    <div class="col-xl-4">
      <img src="../../../assets/image/b.jpg" class="img-fluid right"
           style=" width: 400px;z-index: 1;">
    </div>
    <img src="../../../assets/image/wood.png" class="img-thumbnail right"
         style="position: absolute; margin-top: 10px; z-index: -2;">
  </div>

   <div class="row" style="
 margin-top: 0px; color: cadetblue;">
    <div class="col-xl-4"></div>
    <div class="col-xl-5" style="color: dimgray;">
      <div style="background-color: cornflowerblue">
        <div class="card" style="border: none; background-color:lavender">
          <div class="card-body" style="margin-top: 20px;background-color: #ededed">
            <mat-tab-group>
              <mat-tab label="Login" style="background-color: burlywood">
                <div style="margin-top: 20px">
                  <div  style="color: slategray"></div>
                 <form


                    <div class="form-group">
                      <mat-label>Username :*</mat-label>
                      <mat-form-field style="background-color: #fafafa;width: 100%">
                        <input matInput placeholder="UserName ..."
                               id="username" name="username"
                               [(ngModel)]="form.username"
                               required
                               #username="ngModel"
                               autofocus/>
                        <div
                          class="alert alert-danger"
                          role="alert"
                          *ngIf="f.submitted && username.invalid"
                        >
                          Username is required!
                        </div>
                        </mat-form-field>

                    </div>
                    <div class="form-group">

                      <mat-label>Password :*</mat-label>

                    </div>

                    <div class="form-group">
                      <button mat-raised-button color="primary">Login</button>

                    </div>
                    <div class="form-group">
                      <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="f.submitted && isLoginFailed"
                      >
                        Login failed: {{ errorMessage }}
                      </div>
                    </div>
                  </form>

             <div class="alert alert-success" *ngIf="isLoggedIn">
                    Logged in as {{ roles }}.
                  </div
                </div>

              </mat-tab>
-->
  <div class='main-container'>
    <form class='login-circle'   *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
    >
      <img class='hex-icon' alt='avatar' src='assets/image/1.PNG'>
      <div class = 'input-position'>
        <mat-form-field class="login-input">
          <input matInput placeholder="UserName ..."
                 id="username" name="username"
                 [(ngModel)]="form.username"
                 required
                 #username="ngModel"
                 autofocus/>
          <div
            class="alert alert-danger" style="color: #47748b"
            role="alert"
            *ngIf="f.submitted && username.invalid"
          >
            Username is required!
          </div>
        </mat-form-field>


        <br><br>


        <mat-form-field class="login-input">
            <input matInput type="password" name="password"
                   id="password"  [(ngModel)]="form.password"
                   required
                   placeholder="Password"
                   minlength="6"
                   #password="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert" style="color: #47748b"
              *ngIf="f.submitted && password.invalid"
            >
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </mat-form-field>

        <button  class='input-button' mat-button value='Login'>
            LOGIN
          </button>
          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed"
            >
              Login failed: {{ errorMessage }}
            </div>
          </div>
</div>
      <a [routerLink]="'/frgt'" class='text'>Forgot Password?</a>

    </form>
<!--
      <a [routerLink]="'/auth/register'" class='text1'>Don't have an account?</a>
    </form>
  </div>
-->
  </div></div>
