<div class="container">

  <div class="banner" style="height: 880px">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="banner-content">
            <br>
         <!--   <h6 style="color: black">Gestion et suivi des Fiches PFE</h6>
            <h2 style="color: black">VOTRE RÊVE</h2>-->
          </div>
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <app-cmplt></app-cmplt>


<app-footer></app-footer>
    </div></div>
</div>
